In [25]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
os.chdir(r"D:\Documents\Hackathon - Analytics Vidhya\India ML Hiring")
os.getcwd()

'D:\\Documents\\Hackathon - Analytics Vidhya\\India ML Hiring'

In [8]:
train = pd.read_csv(r"train.csv")
test = pd.read_csv(r"test.csv")

In [9]:
train.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,...,0,0,0,1,0,0,0,0,0,1
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,...,0,0,0,0,0,0,0,1,0,1
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,...,0,0,0,0,0,0,0,0,0,1
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,...,0,0,0,0,0,1,1,1,1,1
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,...,3,4,5,6,7,8,9,10,11,1

In [16]:
train.isnull().any()

loan_id                     False
source                      False
financial_institution       False
interest_rate               False
unpaid_principal_bal        False
loan_term                   False
origination_date            False
first_payment_date          False
loan_to_value               False
number_of_borrowers         False
debt_to_income_ratio        False
borrower_credit_score       False
loan_purpose                False
insurance_percent           False
co-borrower_credit_score    False
insurance_type              False
m1                          False
m2                          False
m3                          False
m4                          False
m5                          False
m6                          False
m7                          False
m8                          False
m9                          False
m10                         False
m11                         False
m12                         False
m13                         False
dtype: bool

In [35]:
train.m13.value_counts()

0    115422
1       636
Name: m13, dtype: int64