In [13]:
import pandas as pd
from datetime import datetime
import matplotlib
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV

In [2]:
train = pd.read_csv(r"D:\Documents\Hackathon - Analytics Vidhya\AMExpert\train.csv")
test = pd.read_csv(r"D:\Documents\Hackathon - Analytics Vidhya\AMExpert\test.csv")
train.head()

,session_id,DateTime,user_id,product,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,gender,age_level,user_depth,city_development_index,var_1,is_click
0,140690,2017-07-02 00:00,858557,C,359520,13787,4,NaN,10.0,Female,4.0,3.0,3.0,0,0
1,333291,2017-07-02 00:00,243253,C,105960,11085,5,NaN,8.0,Female,2.0,2.0,NaN,0,0
2,129781,2017-07-02 00:00,243253,C,359520,13787,4,NaN,8.0,Female,2.0,2.0,NaN,0,0
3,464848,2017-07-02 00:00,1097446,I,359520,13787,3,NaN,3.0,Male,3.0,3.0,2.0,1,0
4,90569,2017-07-02 00:01,663656,C,405490,60305,3,NaN,2.0,Male,2.0,3.0,2.0,1,0

In [3]:
train = train.astype(str)
train.describe()

,session_id,DateTime,user_id,product,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,gender,age_level,user_depth,city_development_index,var_1,is_click
count,463291,463291,463291,463291,463291,463291,463291,463291,463291,463291,463291,463291,463291,463291,463291
unique,463291,8610,150347,10,10,9,5,30,14,3,8,4,5,2,2
top,195243,2017-07-04 20:39,658554,C,359520,13787,4,nan,3.0,Male,3.0,3.0,2.0,0,0
freq,1,173,255,163501,108155,160043,133290,365854,140317,393454,160581,402798,147643,267704,431960

In [4]:
train["DateTime"] = pd.to_datetime(train["DateTime"])
train.dtypes

session_id                        object
DateTime                  datetime64[ns]
user_id                           object
product                           object
campaign_id                       object
webpage_id                        object
product_category_1                object
product_category_2                object
user_group_id                     object
gender                            object
age_level                         object
user_depth                        object
city_development_index            object
var_1                             object
is_click                          object
dtype: object

In [5]:
train["product"].value_counts()

C    163501
H    109574
I     63711
D     41064
B     22479
E     21452
A     15391
J      9698
G      9414
F      7007
Name: product, dtype: int64

In [6]:
train["gender"].value_counts()

Male      393454
Female     51594
nan        18243
Name: gender, dtype: int64

In [7]:
train["age_level"].value_counts()

3.0    160581
2.0    143501
4.0     63859
1.0     43367
5.0     30828
nan     18243
6.0      2759
0.0       153
Name: age_level, dtype: int64

In [8]:
train["var_1"].value_counts()

0    267704
1    195587
Name: var_1, dtype: int64

In [9]:
train["is_click"].value_counts()

0    431960
1     31331
Name: is_click, dtype: int64

In [10]:
train["product_category_1"].value_counts()

4    133290
3    113812
1     81141
2     69183
5     65865
Name: product_category_1, dtype: int64

In [11]:
pd.crosstab(train["gender"],train["is_click"]).plot(kind="bar")

In [14]:
rf = RandomForestClassifier()

In [19]:
notnans = train["gender"].notnull()
df_notnans = train[notnans]
df_notnans["gender"].value_counts()

Male      393454
Female     51594
nan        18243
Name: gender, dtype: int64